.rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}